$purple: #6c0f6a;

@use 'bulma/sass' with (
  $modal-content-width: 50rem,
  $primary: $purple
);

@import 'bulma/sass/utilities';

.icon-text {
  flex-wrap: nowrap;
}

.f-primary {
  fill: $primary;
}

.f-success {
  fill: $success;
}

.f-danger {
  fill: $danger;
}

.f-text {
  fill: $text;
}

.body-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.body-wrapper > .is-5 {
  flex-grow: 5;
  min-width: 400px;
}

.body-wrapper > .is-1 {
  flex-grow: 1;
  min-width: 300px;
}

.no-mouse {
  pointer-events: none;
}

.centerize {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}
}

.centerize > .container {
  flex-grow: 0;
}

.logo-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-header > .title-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.b-primary {
  border: $primary 1px solid;
}

.name {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name > .box {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.field .field {
  margin-bottom: 0;
}

.icon.btn {
  color: var(--bulma-text);
}

.icon.btn:hover {
  opacity: 0.6;
}
